* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-image: url('background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    margin: 0;
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.title {
    font-size: 3vw;
    font-weight: bolder;
    color: #ffc800;
    text-shadow: 2px 2px 4px rgba(2, 2, 2, 0.658);
}
#btnStart{
        background: linear-gradient(to right, #d17401, #ffb700);
        border: none;
        color: rgb(255, 255, 255);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
        transition: background 0.3s ease;
        margin-top: 2rem;
        width: 450px;
      }
      
      #btnStart:hover {
        background: linear-gradient(to right, #FFD700, #FFA500);
      }
